.topbar{
    height:10%;
}
.right{
    margin-left:88%;
}
.button1{
    padding:5px;
    margin-bottom:5px;
    margin-top:5px;
    /* margin-left:5px; */
    margin-right:20px;
    border-radius:8px;
    background-color: #10C230;
    border-color: #10C230;
    width:80px;

}

.main-body{
    display:flex;
    flex-direction:column;
    color:white;
    height:90%;
    justify-content: center;
    align-items: center;
    margin-top:18%;
}

.main-name{
    font-size:100px;
}

.quote{
    display: flex;
    flex-direction: column;
    font-size:20px;
    margin-top:50px;
}